
[V200R003C00]
#
 sysname OR
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
 undo info-center enable
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
acl number 2000  
 rule 5 permit 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface Dialer1
 link-protocol ppp
 ppp chap user ttt
 ppp chap password cipher %$%$_ZhQLGTpr2X-T9#^_]z#,/3D%$%$
 ip address ppp-negotiate
 dialer user no1
 dialer bundle 1
 nat outbound 2000
#
interface GigabitEthernet0/0/0
 description dianx
 ip address 100.1.1.2 255.255.255.0 
 nat server protocol tcp global current-interface ftp inside 10.0.40.2 ftp
 nat server protocol tcp global current-interface www inside 10.0.40.1 www
 nat outbound 2000
#
interface GigabitEthernet0/0/1
 ip address 10.0.1.1 255.255.255.0 
#
interface GigabitEthernet0/0/2
 pppoe-client dial-bundle-number 1 
 description liant
#
interface NULL0
#
ospf 1 
 default-route-advertise always
 area 0.0.0.0 
  network 10.0.1.0 0.0.0.255 
#
ip route-static 0.0.0.0 0.0.0.0 100.1.1.1
ip route-static 0.0.0.0 0.0.0.0 Dialer1
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return